.features-list
  .features-list__row
    .text
      %h6= gettext "conv_title", :about.features.real_conversation_title
      = gettext "conv_title", :about.features.real_conversation_body
    .visual
      = fa_icon "fw comments"
  .features-list__row
    .text
      %h6= gettext "product_title", :about.features.not_a_product_title
      = gettext "product_body", :about.features.not_a_product_body
    .visual
      = fa_icon "fw users"
  .features-list__row
    .text
      %h6= gettext "reach_title", :about.features.within_reach_title
      = gettext "reach_body", :about.features.within_reach_body
    .visual
      = fa_icon "fw mobile"
  .features-list__row
    .text
      %h6= gettext "human_title", :about.features.humane_approach_title
      = gettext "human_body", :about.features.humane_approach_body
    .visual
      = fa_icon "fw leaf"
