.wrapper.thicc
  .sidebar-layout
    .main
      .panel
        %h2= @site_hostname

        -#- unless @instance_presenter.site_description.blank do
        -#  %p!= @instance_presenter.site_description

      .information-board
        .section
          %span=  'about.user_count_before'
          -#%strong= number_with_delimiter @instance_presenter.user_count
          %span=  'about.user_count_after'
        .section
          %span=  'about.status_count_before'
          -#%strong= number_with_delimiter @instance_presenter.status_count
          %span=  'about.status_count_after'
        .section
          %span=  'about.domain_count_before'
          -#%strong= number_with_delimiter @instance_presenter.domain_count
          %span=  'about.domain_count_after'

      -#-- unless @instance_presenter.site_extended_description.blank?
      -#  .panel!= @instance_presenter.site_extended_description

    -#.sidebar
    -#  = render 'contact', contact: @instance_presenter
    -#  = render 'links', instance: @instance_presenter
    -#  = render 'version', version: @instance_presenter
